/*fuentes*/

@font-face {
    font-family: 'Foco';
    src: url('http://admin.twisticdigital.com/contenido_proyectos/dunas/feelapp/fonts/Foco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'FocoBlack';
    src: url('http://admin.twisticdigital.com/contenido_proyectos/dunas/feelapp/fonts/FocoBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FocoBold';
    src: url('http://admin.twisticdigital.com/contenido_proyectos/dunas/feelapp/fonts/FocoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*************css*****************/


*{
    /*font-family: 'foco';*/
}

.header{
    background: #115E67;
    border-bottom: 2px solid white;
}

.header-light em{
    background: white;
}

.sidebar-header-image .sidebar-logo {
    background-position: center center;
    width: 92%;
    margin-left: 7%;
    background-size: 207px;
}

.header-logo {
    background-size: auto 35px;
    width: 197px;

}

.sidebars-light .sidebar{
    background-color: white;
}

.sidebars-light span, .menu-light span{
    color: black;
}

.sidebars-light .active-item span {
    color: black !important;
}

.sidebars-light .submenu span, .menu-light .submenu span {
    color: #363636;
}

.sidebars-light .submenu i:first-child {
    color: #363636;
}

#page-content{
    /*background: url('../images/fondo.jpg');*/
    background: url('http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/centro_1901/feelapp/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.bg-2{
    background: url('http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/centro_1901/feelapp/fondo2.jpg');
    background-size: cover;
    background-position: center;
}

/* Inicio Restaurantes */

.restaurante_ficha_imagen{
    width: 90%;
    margin-left: 5%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 230px;
}

.restaurante_ficha_imagen > img{
    position: absolute;
    top: 0;
    right: 0;
}

.restaurante_ficha_texto{
    width: 90%;
    margin-left: 5%;
}

.restaurante_ficha_texto_titulo{
    text-align: center;
    background: #e4002b !important;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /*font-family: 'FocoBold';*/
}

.restaurante_ficha_tarjeta{
    position: relative;
    margin-top: 15px;
    background: #ededed !important;
    color: black;
}

.restaurante_ficha_tarjeta > div{
    /*display: inline;*/
}

.restaurante_ficha_tarjeta_titulo{
    color: #e4002b;
    /*font-family: 'FocoBold';*/
    text-transform: uppercase;
    text-align: center;
}

.restaurante_ficha_tarjeta_img{
    display: none;
}

.restaurante_ficha_texto_detalles{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    margin: 5px;
}

.recepcion_servicios_icono_texto, .texto_corporativo_hd, .tarjeta_contenido_bungalow, .imagen_texto_spa_riu {
    width: 90%;
    margin-left: 5%;
    background-color: #ededed !important;
    /*color: #e4002b;*/
    padding: 5px;
    min-height: 38px;
}

.imagen_texto_spa_riu, .recepcion_servicios_icono_texto{
    color: #e4002b;
}


.recepcion_servicios_icono > img, .recepcion_servicios_icono_2 > img{
    position: absolute;
    z-index: 1;
    height: 34px;
    left: 6%;
    top: 2px;
    padding: 2px;
}

.recepcion_servicios_texto, .recepcion_servicios_texto_2, .tarjeta_contenido_bungalow {
    margin-top: 10px;
    width: 75%;
    float: left;
    padding: 0% 5%;
    height: 87px;
}

.recepcion_servicios_icono_texto, recepcion_servicios_icono_texto_2 {
    color: #115E67;
    padding-left: 0px !important;
    text-align: center;
    background: transparent !important;
    font-size: 16px;
}

.texto_corporativo_hd{
    margin-bottom: 20px;
    line-height: 23px;
}

.texto_corporativo_hd > br{
    display: block;
}

.subTitle{
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    text-align: center;
    background: #ededed !important;
    color: #e4002b;
    text-transform: uppercase;
}


/* Salud y belleza */

.imagen_spa_riu, .foto_riu_piscina, .imagen_habitaciones_hd {
    height: 200px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentImgWrapper.tipo1{
    width: 90%;
    margin-left: 5%;
}

.contentImgWrapper.tipo1 > img{
    width: 100%;
}

.texto_generico_pinero {
    background-color: #115E67;
    text-align: center;
    color: white;
    line-height: 19px;
    padding: 10px 0px;
}

.texto_generico_gym{
    width: 90%;
    margin-left: 5%;
    background: #115E67 !important;
    color: white;
    margin-top: -10px;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
}

.recepcion_servicios_icono_2 > img{
    display: none;
}

.texto_cabeza_tipo_tabla_spa{
    background: #e4002b;
    color: white;
    padding: 5px;
    text-align: center;
}

.tabla_spa > tbody > tr > td{
    width: 50%;
    padding: 5px;
    background-color: #ededed ;
    color: black;
}

.texto_titulo_tabla_spa{
    background-color: rgba(255,255,255,1) !important;
}

/* Recepción */

.tarjeta_contenido_bungalow_titulo{
    width: calc(100% - 50px);
    height: 40px;
    text-align: center;
    float: right;
    text-align: left;
}

.tarjeta_contenido_bungalow_img{
    width: 50px;
    height: 40px;
    text-align: center;
    float: right;
}

.tarjeta_contenido_bungalow_img > img{
    height: 40px;
}

.menu-item{
    background-color: white;
    color: #115E67;
    text-shadow: none !important;
    /*font-family: 'Foco';*/
}



.lines {
    background: #115E67;
}


.css_imagen_menu_hexagono {
    width: 51%;
    height: auto;
    margin-left: 26%;
    margin-top: 10%;
}

.css_titulo_menu_hexagono {
    background-color: transparent;
    font-size: 10px;
    margin-top: -33px;
    font-weight: 400;
}


.menu-item:hover{
    background-color: white;
    color: #115E67;
}


strong {
    font-weight: bolder;
    color: #115E67;
}

.nombre-centro-hotel{
    background: #115E67;
}


/*********** Titulo secciones *************/
.titulo-secciones {
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: relative;
    z-index: 9;
    font-size: 24px;
    /*font-family: FocoBold;*/
}


.page-blog-title {
    background-color: #115E67 !important;
}

.taken-day i {
    color: #e4002b;
}


.img_icono_estancia > img {
    width: 44%;
    margin-left: 23%;
}

.width_24_estancia > .tarjeta_contenido_bungalow_titulo {
    width: 100%;
    height: auto;
    text-align: center !important;
    float: right;
    line-height: 16px;
    margin-bottom: 0px;
    color: white;
}


.width_24_estancia {
    margin-top: 10px;
    width: 42.5%;
    margin-left: 5% !important;
    position: relative;
    float: left;
    max-height: 175px;
    background-color: #115E67 !important;
    height: 104px !important;
}


.titulos_seccion_mejora_estancia {
    text-align: center;
    background-color: #ededed;
    margin-left: 5%;
    width: 90%;
    color: #e4002b !important;
}


.menu-options span {
    /*font-family: 'foco', sans-serif;*/
}

.restaurante_ficha_carta_botton {
    display: none;
}

.boton-alta{
    width: 210px;
    background: #ca5c5c;
    font-size: 20px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    margin-left: calc(50% - 105px);
    margin-top: 10px;
    margin-bottom: 20px;
}

.calendar-days i {
    margin-top: 1px;
}

.width_1, .width_1:hover {
    width: 10%;
    font-size: 15px;
    background-color: #115E67;
    color: white;
    clear: both;
    display: block;
    height: 30px;
    float: left;
    vertical-align: middle;
    padding-top: 5px;
}


.width_20 {
    width: 90%;
    font-size: 14px;
    background-color: white;
    color: black;
    display: block;
    float: left;
    height: 30px;
    padding-top: 7px;
}


.calendar-hour h4 {
    line-height: 18px;
}

/*.heading-strip {
    border-bottom: 2px solid #c4a778;
}*/

.content-fondo-nombre-destino {
    color: #e4002b;
    text-shadow: 1px 1px 5px rgba(255,255,255,0.95);
    line-height: 21px;
}

.content-destinos {
    height: 22%;
    width: 49%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 1%;
    margin-top: 1%;
}

.content-absolute {
    width: 90%;
    margin-left: 5%;
}

.icono_linea > img {
    width: auto;
    height: 60px;
    margin-left: 42%;
}

/********CSS ICONOS LATERAL********************/


.icon-entretenimiento{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/animacion_calendario.svg") no-repeat scroll center center / 130% auto;
}

.icon-excursiones{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/ex.svg") no-repeat scroll center center / 80% auto;
}

.icon-star{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/star.png") no-repeat scroll center center / 80% auto;
}

.icon-servicios{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/campana.png") no-repeat scroll center center / 80% auto;
}

.icon-building{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/building.png") no-repeat scroll center center / 80% auto;
}

.icon-front-desk{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/front-desk.png") no-repeat scroll center center / 80% auto;
}

.icon-masaje{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/spa.png") no-repeat scroll center center / 80% auto;
}

 .icon-destinos{
       background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/dunas_club.png") no-repeat scroll center center / 80% auto;
   }


.icon-sostenibilidad{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/dunas_hotel.png") no-repeat scroll center center / 80% auto;
}

.boton-alta{
    text-transform: uppercase;
}

/* Idiomas */
.content-idiomas{
    background: #115E67;
}

.active_idioma {
    color: white !important;
}


/* Nuevo */

.seccion_habitaciones_hd {
    width: 100% !important;
    height: auto;
    margin-top: 20px;
}

.titulo_pinero, .css_titulo_karisma {
    background: #115E67;
    color: white;
    padding-left: 0px;
    text-align: center;
    font-size: 15px !important;
}

.imagen_habitaciones_pinero, .imagen_restaurante_pinero{
    height: 175px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto_corporativo_pinero, .texto_corporativo_restaurante_pinero, .texto_corporativo_restaurante_pinero2{
    /*background: #c6c6c6;*/
}

.texto_corporativo_pinero{
    height: auto !important;
}

.texto_corporativo_restaurante_pinero{
    height: auto !important;
}

.texto_corporativo_restaurante_pinero2{
    /*min-height: 75px !important;*/
    height: auto !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.css_texto_restaurante {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 21px;
}

.texto_corporativo_restaurante_pinero2{
    /*margin-top: -30px;*/
}

.css_tira_cabecera_mapa{
    width: 100%;
}


.light-overlay {
    background-color: rgba(1,1,1,0.75);
}

.li_icono_restaurante {
    color: #115E67;
    padding-top: 7px;
}

.css_letra_titulos_tipo_karisma {
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.letra_gris_pinero {
    /*padding: 5px;*/
    text-align: justify;
}

.icon-svg.tamano_icono.icon-cama, .icon-svg.tamano_icono.icon-ocupacion {
    display: none;
}

.li_icono {
    line-height: 21px;
    padding: 0% 5%;
    text-align: justify;
}

ul {
    margin-bottom: 0px;
}

.letra_gris_pinero > .margen_li_restaurante{

    list-style: none;
    display: block;
    width: 100%;
    float: left;
    height: 24px;
    padding: 0% 5%;

}

.displayNone {
    display: none !important;
}

/******** Prueba *********/
.texto_corporativo_restaurante_pinero2{
    height: auto !important;
    position: relative;
}

.letra_gris_pinero {
    position: relative;
    display: inline-block;
    /*background-color: #eceded;*/
    width: 100%;
    /*padding: 0% 5%;*/
    height: auto;
}

.titulo_hotel {
    font-size: 26px;
    padding-left: 5px;
    padding-top: 6px;
}

.descripcion_hotel {
    font-size: 20px;
    padding-left: 5px;
}

#datos-hotel {
    width: 80%;
    margin-left: 10%;
    color: white;
    text-shadow: 0px 1px black;
    margin-top: 22px;
    border-left: 2px solid white ;
}


.margen_li_restaurante{
    height: auto !important;
}

.texto-mapa-feelapp{
    height: 368px !important;
}
.content-idioma > img{
    display: none;
}

.nombre_idioma {
    font-size: 23px;
    color: #adadad;
    text-transform: capitalize;
    margin-top: 15px;
}

.icon-svg.icon-sombrero {
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/feelapp/images/iconos/icon_sombrero.svg") no-repeat scroll center center / 100% auto;
}

.icon-svg.icon-dollar {
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/feelapp/images/iconos/dollar.png") no-repeat scroll center center / 100% auto;
}

.tabla_riu_class{
    margin-top: 10px;
}

.tabla_riu_class > tbody > tr > th{
    color: white;
    background-color: #115E67 !important;
}


.recepcion_servicios_icono_3 {
    background: #115E67;
    margin-top: 10px;
    height: 60px;
    float: left;
    width: 15%;
    margin-left: 5%;
    padding-left: 5px;
    height: 87px;
    padding-top: 17px;
}

.padding_arriba_35 > ul > li {
    padding-top: 20px;
}

.recepcion_servicios_altamar.color_fondo_impar {
    background: #115E67;
    height: 207px;
    width: 90%;
    margin-left: 5%;
}

.recepcion_servicios_altamar > .recepcion_servicios_icono > .recepcion_servicios_icono_texto {
    color: #ffffff;
}

.recepcion_servicios_altamar > .recepcion_servicios_texto {
    width: 100%;
    height: 200px;
}

ul {
    padding-left: 0px;
}

.texto_corporativo_bar_pinero {
    height: auto;
}
.letra_gris_pinero > li {
    padding: 0% 5%;
}

/* Inicio carousel */
.swiper-container {
    width: 100%;
    height: 210px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* Fin carrousel */

.content-excursiones{
    display: none;
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: calc(100% - 115px);
    top: 56px;
    overflow: auto;
}

.titulo-excursion{
    color: #ffffff;
    background: #115E67;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px;
}

.excursiones-destacado{
    background: #115E67 !important;
}

.excursiones-centrado{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}

.excursiones-destacado > .excursiones-centrado > p {
    color: #ffffff !important;
    font-size: 15px;
}

.excursiones-titulo-destacado{
    font-size: 18px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.excursiones-descripcion > p{
    color: #115E67;
    font-size: 15px;
}

.excursiones-descripcion{
    width: 90%;
    margin-left: 5%;
}

.excursiones-descripcion-titulo{
    color: #115E67;
    border-bottom: 2px solid #115E67;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-excursion{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: #115E67;
    text-align: center;
    margin-bottom: 20px;
}

.imagen-principal-excursiones{
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

.imagen-principal-excursiones-titulo{
    text-transform: uppercase;
    /*background-color: rgba(9,42,94,0.7);*/
    background: #115E67;
    position: absolute;
    color: #ffffff;
    bottom: 0;
    padding: 3px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}


.content-cerrar{
    position: fixed;
    bottom: 0;
    background: #ffffff;
    height: 59px;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #115E67;
    display: none;
}

.imagen-cabecera{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.btn-cerrar-popup{
    width: 200px;
    margin: 0 auto;
    background: #115E67;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
}

.cartas-restaurante{
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    border: 2px solid #115E67;
    text-align: center;
}

.reserva-sultan{
    margin-top: 20px;
}

/* Formulario */

.categoria-formulario{
    color: #115E67;
    font-size: 18px;
    float: left;
}

.input-text-box {
    border: solid 1px rgba(17,94,103,0.7);
    color: rgba(0,0,0,0.6);
    font-size: 18px;
}

.input-reserva-fecha{
    padding-top: 8px !important;
}

.formulario-reserva-titulo{
    color: #115E67;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: -40px;
}

.btn-enviar-reserva{
    width: 200px;
    margin: 0 auto;
    margin-top: 0px;
    background: #115E67;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
}

.reserva-registrada{
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding: 15px;
    color: #115E67;
    text-align: center;
    /*background: #bfd4b9;*/
    background-color: rgba(175, 203, 163, 0.9);
    position: fixed;
    top: 125px;
    z-index: 99;
    font-size: 20px;
    display: none;
}

/* Guias */

.content-guia{

}

.img-guia{
    width: 100%;
}

.content-img-guia{
    position: relative;
}

.content-degradado::after {
    display: block;
    position: relative;
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);*/
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}

.datos-guia{
    background-color: #115E67;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    text-align: center;
    z-index: 10;
    padding: 10px 0px;
}

.datos-guia > p{
    color: white;
}

.descripcion-guia{
    width: 90%;
    margin-left: 5%;
    color: #115E67;
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
}

.nombre-guia{
    font-size: 22px;
}

.subnombre-guia{
    font-size: 16px;
    text-transform: uppercase;
}

.redes-sociales-guias{
    position: relative;
    height: auto;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.red-social{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}

.red-social > a > img{
    width: 44px;
    margin-left: calc(50% - 22px);
}

.icono-bandera {
    width: 20px;
    float: left;
    margin-right: 10px;
}

.primera-bandera{
    margin-left: calc(50% - 40px);
}

.content-ico-encuesta{
    width: 33%;
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.img-encuesta {
    width: 50px;
    margin-left: calc(50% - 25px);
}

.btn-enviar-encuesta{
    float: left !important;
    margin-top: 10px !important;
    margin-left: calc(50% - 100px) !important;
}

.img-encuesta{
    /*opacity: 0.7;*/
}

.encuesta-activa{
    opacity: 1 !important;
}


.contenedor-encuesta-relative{
    position: relative !important;
    height: 90px !important;
}

.icono1{
    position: absolute;
    transition: all 1s;
}

.icono2{
    position: absolute;
    margin-left: 33%;
    transition: all 1s;
}

.icono3{
    position: absolute;
    margin-left: 66%;
    transition: all 1s;
}

.iconos-centrados-encuesta{
    margin-left: 33% !important;
}

.icono-activo-index{
    z-index: 1000 !important;
}

.css_png_portada{
    width: 70% !important;
    margin-left: 17% !important;
}

.recepcion_servicios, .recepcion_servicios_2{
    height: auto !important;
}

.letra_gris_pinero{
    margin-top: 15px !important;
}

.imagen_habitaciones_pinero, .imagen_restaurante_pinero{
    width: 100% !important;
}

.texto_corporativo_pinero{
    width: 100% !important;
}

.recepcion_servicios_texto{
    margin-bottom: 10px !important;
}

.icon-logo{
    background: url("http://admin.twisticdigital.com/contenido_proyectos/dunas/contenido/_general/feelapp/iconos/logo.svg") no-repeat scroll center center / 80% auto;
}

.volver-index{
    width: 50px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    border-color: rgba(0,0,0,0.08) !important;
    border-left: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver-index > img{
    width: 25px;
    height: auto;
}


#page-content-scroll,.content-superior-menu-lateral{
    /*overflow-y: scroll;*/
    overflow-y: scroll !important; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch !important;
}



/***click******************************************************/

.overlayWrapper2 {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    border: 3px solid #c7c7c7;
    box-sizing: border-box;
    left: 0;
    padding: 15px 35px 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 914px;
    margin-left: 49px;
}

.eventoDetailContent2 {
    text-align: justify;
    height: 817px;
    width: 885px;
    overflow: scroll;
}

.css_click_masinfo2 {
    width: 100%;
    display: inline-block;
    margin: 9px 0px;
    padding: 2% !important;
    background-color: #115E67 !important;
    font-size: 24px;
    color: white;
    text-align: center;
}

.eventoDetailContent2 > img {height: auto !important;}

.overlayWrapper.popup-element.mapa_popup.closeWrapper {
    border: 3px solid #115E67;
    margin-top: -407px !important;
    max-height: 1414px;
    min-height: 948px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.demo_popup .close {
    border-color: inherit;
}
.demo_popup .eventoDetailTitle {
    background-color: #115E67;
}

/*******************************************************/

.fondo-popup-zoom{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0; left:0;
    background-color: #ffffff;
    z-index: 1000
}

.content-popup{
    width: 100%;
    height: 93%;
    overflow-y: scroll !important; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch !important;
}

.img-popup{
    width: 100%;
    height: auto;
}

.back-popup{
    width: 100%;
    height: 7%;
    background: #115E67;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-popup > img{
    height: 90%;
    width: auto;
}
