@font-face {
    font-family: 'RalewayRegular';
    src: url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PlayfairItalic';
    src: url('PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
